.container {
  padding-right: 1rem;
  // width: 300px;
  // background-color: var(--base-color);
  .sidebarContentWrapper {
    margin-left: 1rem;
    margin-top: 0.35rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    .logoTitle {
      font-family: acf-demibold;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.5px;
      color: var(--matte-black);
    }
  }
}
