.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  label {
    font-family: acf-medium;
    font-weight: 100;
    color: #758292;
    font-size: 1.1rem;
  }
  input {
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: 2px solid #d3d3d3;
    margin-top: 0.5rem;
    color: #1c1c1c;
    font-size: 1.1rem;
    font-family: acf-medium;

    &::placeholder {
    }
  }
  .errorText {
    min-height: 22px;
    color: #f63131;
  }
}
