.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  label {
    font-family: acf-demibold;
    font-weight: 100;
    color: var(--fm-h-shade);
    font-size: 1.1rem;
  }
  input {
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    margin-top: 0.5rem;
    color: #1c1c1c;
    font-size: 1.1rem;
    font-family: acf-medium;

    // &::placeholder {
    // }
    &:focus{
        outline: none !important;
        border: 2px solid var(--primary-color);

    }
  }
  .errorText {
    min-height: 22px;
    color: #f63131;
    margin-top: 0.3rem;
  }
}
