.postsCardWrapper {
  background-color: #ffffff;
  width: 100%;
  min-width: 550px;
  // height: 350px;
  aspect-ratio: 16/9;
  border-radius: 10px;
  font-family: acf-medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .postHeader {
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.namecard {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  .profileImg {
    height: 32px;
    width: 32px;
    background-color: var(--grey-shade-links);
    border-radius: 50%;
  }
  .details {
    .authorName {
      font-family: acf-medium;
      font-size: 0.85rem;
      text-transform: capitalize;
    }
    .username {
      font-family: acf-reg;
      font-size: 0.7rem;
      color: #949494;
    }
  }
}

.viewMoreBtn{
  color: var(--grey-shade-links);
}
