.form{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    margin-top: 1.7rem;
 }
 .typeSelectWrapper {
    h4 {
        font-family: acf-demibold;
        font-weight: 100;
        color: var(--fm-h-shade);
        font-size: 1.1rem;
    }
    .typeContainer {
      display: flex;
      gap: 1rem;
      margin-top: 0.9rem;
  

    }
  }

  .successMessageDiv{
    background-color: var(--primary-color);
    color: var(--base-shade);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    font-family: acf-demibold;
    position: fixed;
    top: 25px;
    left: 50%;
  }