.contentWrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  .feedColumn {
    display: flex;
    flex-direction: column;
    min-width: 550px;
    gap: 1rem;
  }
  // .feedSuggestColumn {

  // }
}
