.container{
    background-color: var(--off-gray);
    height: 100vh;
    width: 100vw;
    .aside{
        height: 100vh;
        padding: 0.5rem;
        background-color: var(--base-color);
        width: 300px;
    }
}
