.landingSection {
  padding: 0.8rem;
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  .landingSectionWrapper {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: var(--off-gray);
    background-image: url("./../../../public/images/discover/landing.png");
    background-size: cover;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    h1{
        font-family: acf-medium;
        font-size: 2rem;
        color: var(--primary-color);
    }
  }
}
