.listContainer{
    h6{
        font-size: 0.8rem;
        font-family: acf-medium;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        .expandText{
            color: var(--primary-color);
            display: block;
            font-family: acf-reg;
            font-size: 0.7rem;
            align-items: baseline;
            margin-right: 5px;
        }
    }
    .list{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}